/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.container{
		height: 100vh;
		background-color: red;
		font-size: 10px;
		font-weight: 700;
	}


}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.container{
		height: 100vh;
		background-color: coral;
		font-size: 14px;
	}

 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.container{
		height: 100vh;
		background-color: skyblue;
	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.container{
		height: 100vh;
		background-color: aqua;
		font-size: 20px;
	}

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
	.container{
		height: 100vh;
		background-color: teal;
		font-size: 25px;
	}
 }

/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
	.container{
		height: 100vh;
		background-color: red;
		font-size: 50px;
 	}
}
